{% extends "base.html" %}

{%block title %} Nova nota {% endblock %}


{%block conteudo %}
        <h2>Nova Nota</h2>

        <div class="container-fluid mb-3 col p-5 m-3">
         <form  method="POST">
           {% csrf_token %}
           <div class="form-floating mb-3" >

               <div class="form-floating mb-3">
                   <input type="select" class="form-control" id="name" name = 'nome' values="{{pessoa.nome}}" disabled >
                   <label for="floatingInput">Nome</label>
               </div> 
               <div class="form-floating mb-3">
                   <input type="date" class="form-control" id="endereco" name = 'data' value ="02/06/2024">
                   <label for="floatingInput">Data</label>
               </div>
               <div class="form-floating mb-3">
                   <input type="float" class="form-control" id="endereco" name = 'valor' value="100" >
                   <label for="floatingInput">Valor</label>
               </div>
               <label for="status">Status do Pagamento:</label>
                    <select id="status" name="status">
                        <option value="pago">Pago</option>
                        <option value="pendente">Pendente</option>
                </select>
   
               <button type="submit" class="btn btn-primary"> Salvar</button>
   
           </form> 
       </div>
    </div>
{% endblock %}