{% extends "base.html" %}

{% block title %}Notas {% endblock %}

{% block conteudo %}
        

<div style="display: flex; justify-content: space-around;;">
    <h2>Notas Atrasadas</h2>

</div>
                  <div class="table-responsive" style="margin-bottom: 10%;">
                    <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                        <th>Nome</th>
                        <th>Data</th>
                        <th>Valor(R$)</th>
                        <th>Ver cliente</th>
                        </tr>
                    </thead>
                    {% for nota in notas %}
                    <tbody>
                        <tr>
                        <td>{{nota.pessoa}}</td>
                        <td>{{nota.data}}</td>
                        <td>{{nota.valor}}</td>
                        <td>
                            <a href="{% url 'vernotas' nota.pessoa.id %}">Ver cliente</a>
                          </td>
                    
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
    
                </div>

      
 
{% endblock %}

 