.card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.card h3 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.card-item {
    margin: 10px 0;
}

.value {
    font-size: 22px;
    color: #007BFF;
    font-weight: bold;
}